#box{
    position: relative;
    width: 270px;
    height: 360px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 0, 39);
    box-shadow: #02a5c2;
    box-shadow: 10px;
    border-radius: 20px;
    overflow: hidden;
}
#box h2{
   text-shadow: 2px 2px blue;
   z-index: 2;
}
#box::before{
    content: '';
    position: absolute;
    width: 170px;
    height: 120%;
    background: linear-gradient(#03c5e7,#5236f3);
    animation: rotate 8s linear infinite;
}
#box::after{
    content: '';
    position: absolute;
    inset: 5px;
    background-color: #002046;
    border-radius: 16px;
    
}
@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}