.features-container {
    text-align: center;
    padding: 20px;
    color: white;
    background-color: #f9f9f9; /* Adjust as needed */
}

.features-container h1 {
    font-size: 2em;
    margin-bottom: 1em;
    color: #181819;
    text-justify: auto;
}

.features-container .highlight {
    color: #605f66; /* Highlight color */
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.features-container p {
    font-size: 1.1em;
    margin-bottom: 1em;
    line-height: 1.5;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;  
}

.feature-grid .feature-card {
    background-color: #262525;
    padding: 20px;
    border-radius: 20px;
    text-align: left;
}

.feature-grid .feature-card h2 {
    font-size: 1.6em;
    margin-bottom: 0.5em;
    text-align: center;
}

.feature-grid .feature-card p {
    font-size: 1.3em;
    margin-bottom: 0.5em;
    text-align: center;
}

.feature-grid .feature-card .feature-icon {
    font-size: 2em;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-grid .feature-icon {
    font-size: 2em;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-grid .feature-icon img {
    max-width: 80%;
    border-radius: 100px; /* Pictures Border */
}

.feature-card {
    background-color: #1e1e1e;
    padding: 20px;
    text-align: left;
}

.feature-card h2 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.feature-card p {
    font-size: 1em;
}

/* Responsive Code */
@media (max-width: 1024px) {
    .feature-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
        padding: 0 10px;
    }
}

@media (max-width: 768px) {
    .features-container h1 {
        font-size: 1.7em;
        padding: 0 10px;
    }

    .feature-card h2 {
        font-size: 1.3em;
    }

    .feature-card p {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .features-container {
        padding: 10px;
    }

    .features-container h1 {
        font-size: 1.3em;
    }

    .feature-card {
        padding: 15px;
    }

    .feature-card h2 {
        font-size: 1.1em;
    }

    .feature-card p {
        font-size: 0.9em;
    }
}
